@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;800&family=Poppins:wght@200;500&display=swap');

*{
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}
.nav{
    margin:auto;
    background-color:white;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height:74px;
    flex-wrap: wrap;
    max-width: 1280px;
}
.nav3{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    width: 600px;
    align-items: center; 
    flex-wrap: wrap;
    margin:auto;
}
.nav2{
    position: relative;
    left:301px ;
}
li{
    font-size: 16px;
    margin: 0px 32px;
    line-height: 24px;
    font-weight: 800;
    text-transform: capitalize;
    list-style: none;
    margin:auto;
   
}
.call{
    display: flex;
    justify-content:center;
    align-items: center;
    position:relative;
    left:200px;
    background-color:rgba(245, 138, 7, 0.1) ;
    width: 173px;
    height: 52px;
    border-radius: 31px;
    color: #F58A07 ;
    font-size: 16px;
    font-weight: 800;
    margin:auto;
}
.sec1{
    display: flex;
    justify-content: space-between;
    background-color:#DCEAF5 ;
}
.prosper{
    flex: 1;
    color: #1D3444;
}
.h{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    margin:auto;
}
.lorem{
    width:480px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    height: 60px; 
}
.img{
    flex:1;   
}
.img img{
    width: 100%;
    max-width:747px;
}
.prosper1{
    position: absolute;
    width: 576px;
    left: 320px;
    top: 201px;
}   
.see{
    display: flex;
    justify-content:flex-start;
    font-size: 16px;
}
.org{
    background-color:#F58A07 ;
    border-radius: 27px;
    width:200px;
    height:54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right:40px ;
}
.whi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.work{
    color: rgba(57, 65, 73, 0.5);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.log{
    display: flex;
    justify-content:space-between;
    width:576px;
}
.sec2{
    margin: auto;
}
.we{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    width: 735px;
    height: 112px;
    margin-top:96px;
    margin-left:320px;
    letter-spacing: -0.03em;
    color: #1D3444;
}
.lol{
    margin-bottom:64px ;
    margin-left:320px;
    width: 735px;
    height: 90px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.bl{
    margin:auto;
    display: flex;
    justify-content:center;
    width:100%;
}
.bl img{
    width:100%;
    border-radius:20px;
    max-width: 399px;
}
.txt{
    width:399px;
    margin:0px 40px;
}
.h2{
    font-weight: 500;
font-size: 24px;
line-height: 106.5%;
letter-spacing: -0.03em;
color: #0D1317;
}
.txt2{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}
h4::after{
    content:"\2192"; 
}
h4{
    font-size: 16px;
    color: #F58A07;
}
.sec3{
    margin: auto;
    background-color:#DCEAF5;
}
.sec3 .bl .txt img{
    Width:33px;
    Height:34px;
}